
#ignores python virtual environnment, raw and processed data, xml files, and python cache files
venv/

#ignores actual data files
data/raw/
data/processed/

#ignores xml files and python cache files
*.xml

#ignores python bytecode cache
__pycache__/
*.pyc

#ignoring these
src/cli.py
tests/
pyproject.toml
